<mat-card>
  <mat-card-title>
    <mat-icon aria-hidden="false" aria-label="Example car icon">car_rental</mat-icon>
    <h1 class="add-cars">Add Cars</h1>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addCars" (ngSubmit)="add()">
      <mat-form-field>
        <input matInput placeholder="Car Name" formControlName="carName" required>
        <mat-error *ngIf="addCars.controls.carName.invalid">Car name is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Year" formControlName="year" required>
        <mat-error *ngIf="addCars.controls.year.invalid">Year is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Fuel" formControlName="fuel" required>
        <mat-error *ngIf="addCars.controls.fuel.invalid">Fuel is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price" required>
        <mat-error *ngIf="addCars.controls.price.invalid">Price is required.</mat-error>
      </mat-form-field>
      <div class="button">
        <button type="submit" mat-raised-button color="primary">Add Car</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

