mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}

.app-title {
  font-family: "Footlight MT Light";
  font-size: 25px;
}

.add-cars-btn, .logout-btn {
  color: darkslategrey;
  font-size: 17px;
}

.add-cars-btn:hover, .logout-btn:hover {
  color: midnightblue;
  font-size: 17px;
}
