<div class="detailsModal">
  <div class="header">
    <h2 class="title">{{carDetails.carName}}</h2>
    <button class="closebtn" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <hr>
  <div class="body">
    <h2 class="cars-data">Cars data</h2>
    <table class="list-data">
      <tr>
        <th>Year of production:</th>
        <td>{{carDetails.year}}</td>
      </tr>
      <tr>
        <th>Fuel:</th>
        <td>{{carDetails.fuel}}</td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <button class="add-cart" (click)="addToCart()">Add to Cart</button>
  </div>
</div>
